#errorLogs p {
  margin: 0;
  padding: 0;
}

#errorLogs > div {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#errorLogs #fileList,
#errorLogs #fileViewer {
  max-width: min(95%, 900px);
  background-color: var(--sidebar-bg);
  border: 5px solid var(--sidebar-border-color);
  border-radius: 10px;
}

#errorLogs #fileList {
  min-width: 500px;
  max-height: 200px;
  overflow-y: auto;
  margin-bottom: 1rem;
}

#errorLogs .fileEntry {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-bottom: 1px solid var(--sidebar-border-color);
}

#errorLogs .fileEntry:hover {
  background-color: var(--sidebar-active-bg);
}

#errorLogs #fileViewer {
  max-width: min(95%, 860px);
  max-height: calc(100vh - 270px);
  overflow: auto;
  padding: 20px;
  scrollbar-color: #626365 #1c1d21;
  scrollbar-width: thin;
}

#errorLogs #fileViewer > div {
  display: flex;
  justify-content: space-between;
}

#errorLogs #fileViewer button {
  width: 35px;
  height: 35px;
  padding: 0.5rem;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: var(--main-fg);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#errorLogs #fileViewer button:hover {
  background-color: var(--sidebar-active-bg);
}

#errorLogs #fileViewer pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  color: var(--main-fg);
  font-family: "Courier New", Courier, monospace;
}

@media only screen and (max-width: 768px) {
  #errorLogs #fileList,
  #errorLogs #fileViewer {
    width: calc(100% - 2rem);
    min-width: 0;
  }

  #errorLogs #fileViewer {
    width: calc(100% - 2rem - 40px);
  }
}
